services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_ENV: production
        VITE_APP_GOOGLE_MAPS_API_KEY: ${VITE_APP_GOOGLE_MAPS_API_KEY}
        VITE_APP_AIDELLA_GOOGLE_MAPS_MAP_ID: ${VITE_APP_AIDELLA_GOOGLE_MAPS_MAP_ID}
    image: unmugviolet/aidella:latest
    container_name: aidella
    restart: unless-stopped
    ports:
      - "35001:35001"
    
    env_file:
      - .env
    
    command: >
      sh -c "npm run build && 
             /usr/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf"
    
    volumes:
      - ./storage:/var/www/html/storage
      # - ./bootstrap/cache:/var/www/html/bootstrap/cache
    
    networks:
      - aidella-network
    depends_on:
      - aidella_db

  aidella_db:
    image: mariadb:latest
    container_name: aidella_db
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - aidella-network
    restart: unless-stopped

volumes:
  db_data:

networks:
  aidella-network:
    driver: bridge
