@media (width >= 14rem) {
	.single-dog-content h1 {
    	font-size: var(--text-3xl);
    	line-height: var(--tw-leading, var(--text-3xl--line-height));
		text-transform: uppercase;
		--tw-font-weight: var(--font-weight-semibold);
    	font-weight: var(--font-weight-semibold);
	}

	.single-dog-content h2 {
    	font-size: var(--text-xl);
    	line-height: var(--tw-leading, var(--text-5xl--line-height));
		--tw-font-weight: var(--font-weight-semibold);
    	font-weight: var(--font-weight-semibold);
	}

	.single-dog-content h3 {
    	font-size: var(--text-lg);
    	line-height: var(--tw-leading, var(--text-2xl--line-height));
		--tw-font-weight: var(--font-weight-semibold);
    	font-weight: var(--font-weight-semibold);
	}

}

@media (width >= 48rem) {

	.single-dog-content h1 {
    	font-size: var(--text-6xl);
    	line-height: var(--tw-leading, var(--text-6xl--line-height));
		text-transform: uppercase;
		--tw-font-weight: var(--font-weight-semibold);
    	font-weight: var(--font-weight-semibold);
	}

	.single-dog-content h2 {
    	font-size: var(--text-5xl);
    	line-height: var(--tw-leading, var(--text-5xl--line-height));
		--tw-font-weight: var(--font-weight-semibold);
    	font-weight: var(--font-weight-semibold);
	}

	.single-dog-content h3 {
    	font-size: var(--text-2xl);
    	line-height: var(--tw-leading, var(--text-2xl--line-height));
		--tw-font-weight: var(--font-weight-semibold);
    	font-weight: var(--font-weight-semibold);
	}
}


